.searchbar{
    display: flex;
    
    padding-inline: 16px;
    padding-block: 8px;
    gap:16px;

    &__burger{
       
    }
    &__input{
        position: relative;
        width: 100%;
        height: 40px;
        &-inner{
            padding-left: 20px;
            border-radius: 20px;
        border: none;
        background-color: #F5F5F5;
        width: inherit;
        height: inherit;
       
        
        }

        &-img{
            position: absolute;
            right:10px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;   
            &:hover{
               opacity: 0.5; 
               cursor: pointer;
            }
        }

    }
}