.chat__container{
    overflow-y: auto;
     max-height: calc(100vh - 56px);
    flex: 1 1 20%;
    padding-right: 1rem; /* резервируем место справа */
    box-sizing: content-box; /* важно, чтобы padding не пересекался с шириной */
    margin-right: -1rem; 
     scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */


  border: 1px solid  rgb(0,0,0,0.05);
    

}

.chat__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
 

/// попозже решить эту проблему связанное со скролом) 

