.sidebar{
    display: flex; 
    flex-direction: column;
    gap:8px;
    width: 400px;
    transform: translateX(0);
    transition: transform 0.5s ease;
    overflow: hidden;
    @media (max-width: 1024px) {
        &:not(.is-close){
           
        }

        &.is-close{
            width: 0;
            transform: translateX(-100%);
           
            
            
        }
    }
    
   
    
}