.chat{
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;

    background-color: #8BABD8;
     background-size: cover;
    background-image: url('/bg.png');

    @media (max-width: 1024px) {
        &.is-close{
            display: none;
        }
    }
    
}