.input{
    position: relative;
    display: flex;
    bottom: 0;  
    width: 100%;
    z-index: 100; 
    
    &-inner{
        box-sizing: border-box;         
        min-height: 70px; // твоя стартовая высота
        width: 100%;
        padding: 25.5px 50px 25.5px 20px;
        line-height: 1.4;   // фиксируем высоту строки
        height: 70px;
        max-height: 150px;
        border: none;
        &:focus-visible{
            outline: 0;
        }

        overflow: hidden;
        resize:none


       
    }
    &-enter{
        position: absolute;
        right: 10px;
        top:15px;
        width: auto;
        height: 40px;
        cursor: pointer;
       

       &:hover{
        filter: saturate(200%);
       }

    }
}